{{#each results as |tag index|}}
<div class="item" {{action 'expandBox' tag.name}}>
  <div class="label"> {{tag.name}} </div>
  <div class="graph"> {{hori-graph name=tag.name average=tag.percentage identity=index}} </div>
  {{!-- expanable emlement for regions graph --}}
 {{tag.expand}}

  <div class="region-detail {{if tag.expand "active"}}">
    {{region-graph regions=tag.regions}}
  </div>
</div>
{{/each}}

{{outlet}}